@import url('https://fonts.googleapis.com/css?family=Lobster');

html{
  height: 100%;
  margin: 0;
}

body {
  padding-top: 5rem;
  background-color: #f5efe6;
}

.test{
  min-height: 100%;
}

.container{
  padding: 20px;
  padding-bottom: 50px;
}

footer{
  height: 50px;
  margin-top: -50px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.img-size {
  width: 60px;
  height: 60px;
}

.profilePic {
  width: 120px;
  height: 185px;
}

.postPics {
  width: 350px;
  height: 200px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

i, .like, .clickable {
  cursor: pointer;
}

.title{
  font-family: 'Lobster', cursive;
}

.icon{
  color: #000;
}

.btn-color{
  background-color: #85cb33;
  color: #fff;
}

.border-col{
  border: 1px solid #aeb6bf ;  
}

.shadow{
  box-shadow: 0 2px 3px #aaaaaa;
}